table {
    grid-area: grid;
    border: 2px solid rgba(0, 0, 0, 0.582);
    /*align-items: left;*/
    margin: 20px auto;
    border-width: 2px;
    grid-column-start: 1;
    grid-column-end: 4;
}
/*
tr{ 
  border-bottom: none;
  border-width: 1px 0;
}

th{
	text-align: center;
}
*/ 

body {
    display: grid;
    grid-template-areas: "header" "title" "grid" "footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-content: space-evenly;
    background-color: deepskyblue;
    grid-row-gap: 15px;
}

#header {
    grid-area: header;
    background-color: deepskyblue;
    text-size-adjust: auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

#rate{
    grid
}

#bttn1 {
    background: none;
    list-style: none;
    font-size:medium;
    border: none;
    color: black;
    text-decoration:none;
    margin: 15px 35px;
    font-family: "Courier New", Courier, monospace;
}

#bttn1:hover{
    background-color:white;
    color:darkgoldenrod;
}

.required {
    color: red;
}

img {
    grid-area: grid;
}

#search {
    /*float: right;*/
    margin: 15px 35px;
}

#title {
    font-family: "Courier New", Courier, monospace;
    background-color: #16395F;
    text-align: center;
    color: white;
    font-size: 28px;
    grid-area: title;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 25px;
}

#foot1 {
    font-family: "Courier New", Courier, monospace;
    background-color: white;
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

#div3 {
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 28px;
}

#uploadIn {
    border: 2px solid black;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    background-color: aquamarine;
}

#uploadOut {
    background-color: white;
    padding:5px;
    border: 2px solid black;
}

#fl {
    vertical-align: bottom;
}

#cent{
    text-align:center;
}

#regist {
    display: grid;
    grid-area: grid;
    border-radius: 10%;
    border: 2px solid black;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: aquamarine;
    margin: 15px;
}

.lbl1{
    font-size: 14px;
}

.sub1 {
    /*width: 180px;*/
    margin: 5px auto;
    font-family: "Courier New", Courier, monospace;
    background-color: #626466;
    border: none;
    color: #fff;
    border-radius: 7px;
}

#img1 {
    border: 2px solid black;
    grid-area: grid;
    grid-column-start:2;
    grid-column-end:3;
}

#gallery{
    grid-area: grid;
    grid-column-start:1;
    grid-column-end:4;
}

.in {
    width: 75%;
    height: 50px;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: 1px solid red;
    background-color:aquamarine;
}

#ftrs {
    background-color: aquamarine;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid red;
}

#registOut {
    border: 2px solid black;
    background-color: beige;
    border-radius:25px;
}